<%= render 'shared/header' %>

<div class="container mt-3">

  <h2>削除が完了しました。</h2>
  <h3>ご利用ありがとうございました。</h3>
  <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>

</div>

<%= render 'shared/footer' %>