<%= render 'shared/header' %>

<div class="container mt-3">

  <h2>更新が完了しました。</h2>
  <div class="row d-flex justify-content-around">
    <%= link_to "チームページへ戻る", team_path(@team.team_url), class: "btn btn-outline-secondary col-sm-3 m-2" %>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-outline-info col-sm-3 m-2" %>
  </div>
</div>

<%= render 'shared/footer' %>