<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-info col-sm-10" role="alert">
    <h5 class="alert-heading">
       登録完了できませんでした。以下をご確認ください。
    </h5>
    <hr>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="mb-0"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
