<!-- Footer -->
<footer class="page-footer font-small bg-dark mt-3 pt-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Takahiro-Awaji</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->